<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<section class="mb-5" th:fragment="comment">
    <div class="card bg-light">
        <div class="card-body">
            <!-- Comment form-->
            <form class="mb-4">
                <input id="reply-writer" type="text" value="user" readonly style="margin-bottom: 1rem">
                <textarea id="reply-content" class="form-control" rows="3"
                          placeholder="Join the discussion and leave a comment!"></textarea>
                <button class="btn btn-primary float-end" type="submit" style="margin-top: 1rem">
                    등록
                </button>
            </form>
        </div>
    </div>
</section>

<!-- 댓글 + 답글 예시 -->
<!-- Comment with nested comments-->
<!--<div class="d-flex mb-4">-->
<!--    &lt;!&ndash; Parent comment&ndash;&gt;-->
<!--    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>-->
<!--    <div class="ms-3">-->
<!--        <div class="fw-bold">사용자1</div>-->
<!--        댓글 테스트 입니다.-->
<!--        &lt;!&ndash; Child comment 1&ndash;&gt;-->
<!--        <div class="d-flex mt-4">-->
<!--            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>-->
<!--            <div class="ms-3">-->
<!--                <div class="fw-bold">사용자1</div>-->
<!--                답글 테스트입니다.-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; Child comment 2&ndash;&gt;-->
<!--        <div class="d-flex mt-4">-->
<!--            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>-->
<!--            <div class="ms-3">-->
<!--                <div class="fw-bold">사용자2</div>-->
<!--                답글 테스트입니다2.-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--&lt;!&ndash; Single comment&ndash;&gt;-->
<!--<div class="d-flex">-->
<!--    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>-->
<!--    <div class="ms-3">-->
<!--        <div class="fw-bold">사용자2</div>-->
<!--        댓글 테스트입니다2.-->
<!--    </div>-->
<!--</div>-->